/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Forum', cursive; 
	line-height: 1.6;
    color: black;
    text-align: center;
}

.name {
margin-left: 50px;
}
p {
	font-size: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
    text-align: center;
}
.headline {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
img {
width: 25%;
}

h1 {
    font-size: 36px;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}
p {
    color: gray;
}

ul li {
    font-weight: bold; 
    margin: 50px; 
    padding: 10px 0; 
}
/* ================================= 
  Base Layout Styles
==================================== */

.profile-image {
    float: right;
    width: 25%;
    margin-right: 50px;
}

/* ---- Navigation ---- */

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

	.main-nav a {
		font-size: .95em;
		color: black;
		text-transform: uppercase;
	}
	
	.main-nav a:hover {
		color: royalblue;
    }

.main-footer {
    display: inline-block; 
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: white;
	margin-bottom: 30px;
    height: 110px; 
    overflow: hidden;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
    background:lightslategray;
    display: inline-block;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
.gallery {
    display: inline;
    justify-content: space-between;
    
}
    
.portfolio-image {
        max-width: 45%;
        margin: 0 auto; 
    }

.container {
		width: 85%;
		max-width: 1150px;
        margin: 0 auto;
        display: inline;
	}
.main-nav {
  float: right; 

}

.main-nav li {
  float: left; 
  margin-left: 12px; 
}

.name {
  float: left; 
        }
    }