* {
	box-sizing: border-box;
}

body {
	font-family: 'Forum', cursive; 
	/*line-height: 1.6;*/
    color: black;
    text-align: center;
 
}

p {
    font-size: 30px;
    margin-top: auto;
    margin-left: 60px;
    text-align: left;
    color: black;
}

.portfolio {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 50px;
}

img {
    width:300px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 28px;

}
h2,
h3 {
	margin-top: 15px;
}

a {
    text-decoration: none;
}

ul li {
    font-weight: bold; 
    font-size: 26px;
    margin: 50px; 
    padding: 10px 0; 
}

section {
    margin-top: 5%;
    text-align: center;
}

.experience,
.contact {
    text-align: center;
}
.container {
    display: inline-flex;
    width: 100%;
}
.portfolio-img {
    padding: 5px 10px 5px 10px;
    width: 400px;
}
/* ================================= 
  Base Layout Styles
==================================== */

.profile-image {
    display:inline;
    width: 30%;
    float: right;
    margin-right: 70px; 
}

/* ---- Navigation ---- */

/*.name,*/

    
.main-nav {
    list-style: none;
    font-size: 1em;
  }
  
  .main-nav li {
    margin-left: -18px;
    margin-bottom: 0.25em;
    padding: 0.5em 0em;
    font-weight: bold;
    width: 99%;
    border-radius: 2.5px;
    background-color: white;
  }

/*.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}*/

	
.main-nav a:hover {
    color: royalblue;
}

/* ---- Layout Styles ---- */

/*.container {
	/*padding-left: 1em;
    padding-right: 1em;*/
    /*display: inline-block;
    height:auto;
    width: 100%;
    border: 5px solid red;*/
 
.main-nav {
    display: inline-flex;
    float: right;
    margin-top: -115px;
    list-style: none;
    font-size: 1em;
}


.main-header {
    background: white;
	margin-bottom: 30px;
    overflow: hidden;
    width:100%;
    border: 5px solid red;
}

.main-footer {
    color: black; 
}

.portfolio {
    width: 100%;
    align-items: center;
    border: 5px solid red;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.portfolio-image {
    display: block;
}

.portfolio > div {
    background-color: #f1f1f1;
    height: 350px;
    width: 500px;
    margin: 10px;
    text-align: center;
    /*line-height: 75px*/
    padding: 20px 20px 20px 20px;
    /*font-size: 30px;*/
}

.footer-nav {
    float: right;
    display: inline;
}

.main-footer {
    display: flex;
    flex-direction: row;
}

.info {
    text-align: center;
    margin: 20px 20px; 
}
.bottom-nav {
  text-align: center;
 
  padding-bottom: 1em;
}
.footer-nav li {
    display: inline;
    color: black;
    margin-bottom: 0.25em;
    padding-right: 1em;
  }

.footer-nav a:hover {
    color: royalblue;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1024px) {
    .profile-image {
        width: 400px;
        float: right;
        margin: 0 auto;
    }
    .portfolio {
        display: inline;
        float: left;
        width: 100%;
        align-items: center;
        border: 5px solid red;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    img {
        width: 250px;
    }
    .portfolio > div {
        background-color: #f1f1f1;
        height: 350px;
        width: 300px;
        margin: 10px;
        text-align: center; 
        /* line-height: 75px; */
        padding: 20px 20px 20px 20px;
        font-size: 15px;
}
p {
    font-size: 28px;
    margin-top: auto;
    margin-left: 60px;
    text-align: left;
    color: black
}
}

@media(min-width: 768px) {

    .main-nav {
        width: 335px; 
    }
    .profile-image {
        width: 30%;
}

p {
        font-size: 24px;
        margin-top: auto;
        margin-left: 60px;
        text-align: left;
        color: black
}

    .portfolio {
        display: inline;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        border: 5px solid red;
        padding: 0;
        margin: 0;
        justify-content: center;
}
    .portfolio > div {
        background-color: #f1f1f1;
        height: 350px;
     
        margin: 10px;
        text-align: center; 
        /* line-height: 75px; */
        padding: 20px 20px 20px 20px;
        font-size: 15px;
}
}

/*@media (min-width: 320px) {
    .main-header {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        margin-inline-start: 32px;
        margin-bottom: 30px;
        overflow: hidden;
        width: 100%;
       
    }
    .name {
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
        }
    .container {
        height:auto;
        width: 100%;
    } 
    body {
        text-align: center;
    }
    p {
        font-size: 22px;
        margin: 0 auto;
        text-align: center;
        color: black;
    }

    .profile-image {
        width: 300px;
        float: none;
        margin: 0 auto;
}
    img {
        width: 100%;
        height: auto;
      }
      
    .portfolio {
        width: 90%;
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    

    /*.container {
        width: 85%;
        max-width: 1150px;
        margin: 0 auto;
        display: inline;
    }
        
    .main-nav {
        float: right; 
    }

    .main-nav li {
        float: left; 
        margin-left: 12px; 
    }

    .name {
        float: left; 
    }
