/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Forum', cursive; 
	/*line-height: 1.6;*/
    color: black;
    text-align: center;
}

.name {
margin-left: 50px;
font-size: 40px;
}

p {
    font-size: 30px;
    margin-top: auto;
    margin-left: 60px;
    text-align: left;
    color: black;
}

.headline {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 50px;
}

img {
    width:300px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 28px;

}
h2,
h3 {
	margin-top: 15px;
}

a {
    text-decoration: none;
}

ul li {
    font-weight: bold; 
    font-size: 26px;
    margin: 50px; 
    padding: 10px 0; 
}

section {
    margin-top: 5%;
    text-align: center;
}

.experience,
.contact {
    text-align: center;
}
/* ================================= 
  Base Layout Styles
==================================== */

.profile-image {
    display:inline;
    width: 30%;
    float: right;
    margin-right: 70px; 
}

/* ---- Navigation ---- */

/*.name,*/
.main-nav {
    float: right; 
}

.main-nav li {
	text-align: center;
	/*background: #fff;*/
	margin-top: 6px;
    margin-bottom: 6px;
    float:left;
    
}

/*.name a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}*/

.main-nav a {
    padding: 10px 15px;
	text-align: center;
	display: block;
    font-size: .95em;
    color: black;
    text-transform: uppercase;
}
	
.main-nav a:hover {
    color: royalblue;
}

/* ---- Layout Containers ---- */

.container {
	/*padding-left: 1em;
    padding-right: 1em;*/
    /*display: inline-block;*/
    height:auto;
    width: 100%;
    border: 5px solid red;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: white;
	margin-bottom: 30px;
    height: 110px; 
    overflow: hidden;
    width:100%;
    border: 5px solid red;
}

.main-footer {
    color: black; 
}

.cell{
    float:left;
    border: 5px solid red;
}

.wrap{
    width:100%;
    /*border: 5px solid red;*/
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    border: 5px solid red;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.portfolio > div {
    background-color: #f1f1f1;
    height: 350px;
    width: 500px;
    margin: 10px;
    text-align: center;
    /*line-height: 75px*/
    padding: 20px 20px 20px 20px;
    /*font-size: 30px;*/
}

.footer-nav {
    float: right;
    display: inline;
}

.info {
    text-align: center;
    margin: 20px 20px; 
}
/* ================================= 
  Media Queries
==================================== */
@media (max-width: 1024px) {
    .profile-image {
        width: 400px;
        float: right;
        margin: 0 auto;
    }
    .portfolio {
        display: inline-flex;
        width: 100%;
        align-items: center;
        border: 5px solid red;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    img {
        width: 250px;
    }
    .portfolio > div {
        background-color: #f1f1f1;
        height: 350px;
        width: 300px;
        margin: 10px;
        text-align: center; 
        /* line-height: 75px; */
        padding: 20px 20px 20px 20px;
        font-size: 15px;
}
p {
    font-size: 28px;
    margin-top: auto;
    margin-left: 60px;
    text-align: left;
    color: black
}
}

@media (max--width: 768px) {
    .profile-image {
        width: 30%;
}

p {
        font-size: 24px;
        margin-top: auto;
        margin-left: 60px;
        text-align: left;
        color: black
}

    .portfolio {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        border: 5px solid red;
        padding: 0;
        margin: 0;
        justify-content: center;
}
    .portfolio > div {
        background-color: #f1f1f1;
        height: 350px;
        width: 350px;
        margin: 10px;
        text-align: center; 
        /* line-height: 75px; */
        padding: 20px 20px 20px 20px;
        font-size: 15px;
}
}

@media (max-width: 320px) {
    .main-header {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        margin-inline-start: 32px;
        margin-bottom: 30px;
        overflow: hidden;
        width: 100%;
       
    }
    .name {
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
        }
    .container {
        height:auto;
        width: 100%;
    } 
    body {
        text-align: center;
    }
    p {
        font-size: 22px;
        margin: 0 auto;
        text-align: center;
        color: black;
    }

    .profile-image {
        width: 300px;
        float: none;
        margin: 0 auto;
}
    img {
        width: 100%;
        height: auto;
      }
      
    .portfolio {
        width: 90%;
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    

    /*.container {
        width: 85%;
        max-width: 1150px;
        margin: 0 auto;
        display: inline;
    }
        
    .main-nav {
        float: right; 
    }

    .main-nav li {
        float: left; 
        margin-left: 12px; 
    }

    .name {
        float: left; 
    }
